<div class="row mb-3">
  <div class="col">
    <h1>{{ it.entity.name }}</h1>
  </div>
  <div class="col text-end">
    {{@if(it.entityCrudString.includes('R'))}}
    <button id="view-list" type="button" class="btn btn-primary btn-sm">
      View List
    </button>
    {{/if}}
    {{@if(it.entityCrudString.includes('C'))}}
    <button
      id="create-new-entity-btn"
      type="button"
      class="btn btn-success btn-sm"
    >
      Create New
    </button>
    {{/if}}
  </div>
</div>
<div id="entity-content" class="row"></div>
